<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Disney</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</head>
<body>
    
    &nbsp; 
    &nbsp;
    &nbsp; 
    &nbsp;
    <h1 style="color:black;text-align:center">  You have exited successfully!</h1>
    <p style="color:black;text-align:center"> Come back soon...</p>
    &nbsp; &nbsp;
    
    &nbsp; &nbsp;
    <div style="margin: 0 auto; text-align: center">
    <a href="/" class="btn btn-link px-3 me-2" role="button" style="color: #007EA7;text-align:center">Go back to Index</a>
    &nbsp; &nbsp;
    </div>

  <script src="bootstrap.bundle.min.js"></script>
</body>
</html>